# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IDEs
.idea/
*.iml
.vscode/

# OS / logs
.DS_Store
Thumbs.db
*.log

# Spring
*.pid

# Entornos locales
*.env
application-local.yml
application-local.properties
